---
prealoder: false
site-layout: site-layout--classic
body-class: preloader--no-transform
site-header: site-header--top
---

<!-- Site Heading
================================================== -->
<div class="page-header page-header--has-overlay">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header__title">Blog Classic</h1>
			</div>
		</div>
	</div>
</div>

<!-- Content
================================================== -->
<main class="site-content blog-layout--classic" id="wrapper">

	<div class="site-content__inner">
		<div class="site-content__holder">

			<div class="container">
				<div class="row">
					<div class="col-lg-8">

						{{#each content.blog.blog-classic.posts}}
						<article class="post has-post-thumbnail {{#ifequal format 'video'}} post--video{{/ifequal}}">
							<div class="post__thumbnail">

								{{#ifequal format 'default'}}
								<a href="blog-post.html"><img src="{{img}}" alt=""></a>
								{{/ifequal}}

								{{#ifequal format 'video'}}
								<a href="https://www.youtube.com/watch?v&#x3D;XE0fU9PCrWE" class="mp_iframe">
									<img src="{{img}}" alt="">
									<div class="post__thumbnail-icon">
										<span class="lightbox__icon"><!----></span>
									</div>
								</a>
								{{/ifequal}}

							</div>
							<div class="post__body">
								<div class="post__header">
									<ul class="post__cats list-unstyled">
										{{#each category}}
										<li class="post__cats-item {{class}}">
											<a href="#">{{name}}</a>
										</li>
										{{/each}}
									</ul>
									<h2 class="post__title h4"><a href="blog-post.html">{{title}}</a></h2>
									<ul class="post__meta list-unstyled">
										<li class="post__meta-item post__meta-item--date">
											{{date}}
										</li>
									</ul>
								</div>
								<div class="post__excerpt">
									{{excerpt}}
								</div>
							</div>
						</article>
						{{/each}}

						<nav class="navigation pagination" role="navigation" aria-label="Posts">
							<div class="nav-links">
								<span class="prev page-numbers placeholder">
									<span><i class="fa fa-chevron-left"></i></span>
								</span>
								<span aria-current="page" class="page-numbers current">1</span>
								<a class="page-numbers" href="#">2</a>
								<a class="page-numbers" href="#">3</a>
								<span class="page-numbers dots">…</span>
								<a class="page-numbers" href="#">7</a>
								<a class="next page-numbers" href="#">
									<span><i class="fa fa-chevron-right"></i></span>
								</a>
							</div>
						</nav>

					</div>


					<div class="col-lg-4">

						<!-- Popular Posts -->
						<div class="widget widget--sidebar ncr-popular-posts">
							<div class="widget-content">
								<h3 class="widget-title">Popular News</h3>
								<ul class="ncr-posts-list list-unstyled">
									{{#each content.blog.blog-classic.widgets.popular-posts}}
									<li class="ncr-posts-list__item has-post-thumbnail post">
										<div class="post__thumbnail">
											<a href="blog-post.html"><img src="{{img}}" alt=""></a>
										</div>
										<div class="post__body">
											<div class="post__header">
												<ul class="post__cats list-unstyled">
													{{#each category}}
													<li class="post__cats-item {{class}}">
														<a href="#">{{name}}</a>
													</li>
													{{/each}}
												</ul>
												<h2 class="post__title h6"><a href="blog-post.html">{{title}}</a></h2>
												<ul class="post__meta list-unstyled">
													<li class="post__meta-item post__meta-item--date">
														{{date}}
													</li>
												</ul>
											</div>
										</div>
									</li>
									{{/each}}
								</ul>
							</div>
						</div>
						<!-- Popular Posts / End -->

						<!-- Latest Posts -->
						<div class="widget widget--sidebar ncr-popular-posts">
							<div class="widget-content">
								<h3 class="widget__title">Latest Posts</h3>
								<ul class="ncr-posts-list ncr-posts-list--thumb-on-bg list-unstyled">
									{{#each content.blog.blog-classic.widgets.latest-posts}}
									<li class="ncr-posts-list__item has-post-thumbnail post">
										<div class="post__thumbnail">
											<img src="{{img}}" alt="">
										</div>
										<div class="post__body">
											<div class="post__header">
												<ul class="post__cats list-unstyled">
													{{#each category}}
													<li class="post__cats-item {{class}}">
														<a href="#">{{name}}</a>
													</li>
													{{/each}}
												</ul>
												<h2 class="post__title h6"><a href="blog-post.html" class="stretched-link">{{title}}</a></h2>
												<ul class="post__meta list-unstyled">
													<li class="post__meta-item post__meta-item--date">{{date}}</li>
												</ul>
											</div>
										</div>
									</li>
									{{/each}}
								</ul>
							</div>
						</div>
						<!-- Latest Posts / End -->

						<!-- Comment List -->
						<div class="widget widget--sidebar ncr-widget-comments">
							<div class="widget-content">
								<h3 class="widget-title">Latest Comments</h3>
								<ul class="ncr-comments-list list-unstyled">
									{{#each content.blog.blog-classic.widgets.comments}}
									<li class="ncr-comments-list__item media ncr-comment">
										<div class="ncr-comment__avatar">
											<img src="{{author.avatar}}" alt="">
										</div>
										<div class="ncr-comment__body media-body">
											<div class="ncr-comment__header">
												<h5 class="ncr-comment__title">{{author.name}}</h6>
												<h6 class="ncr-comment__subtitle"><a href="#">{{post}}</a></h6>
											</div>
											<div class="ncr-comment__content">
												{{content}}
											</div>
										</div>
									</li>
									{{/each}}
								</ul>
							</div>
						</div>
						<!-- Comment List / End -->

					</div>

				</div>
			</div>

		</div>

	</div>
</main>

<footer class="footer footer--classic">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="#">Necromancers</a> 2020 | All Rights Reserved
			</div>
		</div>
	</div>
</footer>
