---
layout: horizontal
---

<div class="widget-area widger-area--before-loop">
	{{> _widget-featured-product }}
</div>
<div class="content shop-layout--style-1">

	{{#each content.shop.shop-1}}
	<article class="product">
		<div class="product__thumbnail">
			<a href="shop-product.html"><img src="{{img}}" alt=""></a>
		</div>
		<div class="product__body">
			<div class="product__header">
				<ul class="product__cats list-unstyled">
					<li class="product__cats-item {{category.class}}">
						<a href="#">{{category.name}}</a>
					</li>
				</ul>
				<h2 class="product__title h4"><a href="shop-product.html">{{title}}</a></h2>
				<ul class="product__meta list-unstyled">
					<li class="product__meta-item product__price">{{price}}</li>
					<li class="product__meta-item product__ratings">
						<div class="fas star-rating">
							<span style="width: {{rating}};">&nbsp;</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="product__excerpt">
				{{excerpt}}
			</div>
			<a href="shop-product.html" class="btn btn-secondary">Add to cart +</a>
		</div>
	</article>
	{{/each}}

</div>
